@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	Layout = "Master.cshtml";
}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">


@{
    var houses = Umbraco.Content(Guid.Parse("b82ef794-6d89-4ccc-9b23-8ef35c3706cc")).Children.Where(x => x.IsVisible());
}

@foreach (var house in houses)
{

    var mediaPicker = house.Value<IPublishedContent>("mainImage");
        
    @if (mediaPicker != null)
    {
        <img src="@mediaPicker.Url()" style="width:200px" alt="@mediaPicker.Value("alt")" />
    }

    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">@house.Name</h2>
            <h3 class="post-subtitle">@house.Value("subtitle")</h3>
        </a>
        <p class="post-meta">
            Seller is
            <a href="#!">@house.Value("sellerName")</a>
            set to sell on @house.Value("houseDate")
        </p>
    </div>
    <hr class="my-4" />

}